 <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Members search</h2>   
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />                
                  <!-- Inline form-->
	              <div class="row">
	                  <div class="col-sm-12">
	                          <header class="panel-heading">
	                              Change members role
	                          </header>
	                          <div class="panel-body">

		              </div>
		           </div>
						
	 <hr />
	</div>
                      
</div>