 <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Manage Members Requests</h2>   
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />                
                  <!-- Inline form-->
	              <div class="row">
	                  <div class="col-sm-12">
	                          <header class="panel-heading">
	                              Approve / Reject Members  Requests
	                          </header>
	                          <div class="panel-body">
	                           
	                           <button type="submit" class="btn btn-success" ng-click="" data-toggle="modal" data-target="#myModal">
			                   	<span class="fa fa-check"></span> Approve
			                   </button>
			            
			                   <button type="button" class="btn btn-danger">
			                    <span class="fa fa-window-close"></span> Reject
			                   </button>

							  <!-- Modal -->
							  <div class="modal fade" id="myModal" role="dialog">
							    <div class="modal-dialog modal-sm">
							      <div class="modal-content">
							        <div class="modal-header">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h4 class="modal-title">Confirm</h4>
							        </div>
							        <div class="modal-body">
							          <p>Are you sure you want to approve this request.</p>
							        </div>
							        <div class="modal-footer">
							          <button type="button" class="btn btn-default" data-dismiss="modal">Approve</button>
							        </div>
							      </div>
							    </div>
							  </div>

		              </div>
		           </div>
						
	 <hr />
	</div>
                      
</div>