            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Enter Personal Information</h2>   
<!--                         <h5>Welcome {{user.firstName}} {{user.lastName}} , Love to see you back. </h5> -->
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
                 
              <form role="form" name="personalInfoForm" ng-submit="vm.saveUserInfo()">
               <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Personal Information
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error': personalInfoForm.primFirstName.$dirty && personalInfoForm.primFirstName.$error.required }">
                                            <label>First Name </label> 
                                            <span ng-show="personalInfoForm.pFirstName.$dirty && personalInfoForm.pFirstName.$error.required" style="color:red" class="help-block">This field is required!</span>
                                            <input type="text" class="form-control" name="primFirstName" placeholder="First Name" data-ng-model="vm.user.primFirstName" required/>
                                        </div>
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input class="form-control" name="pMiddleName" placeholder="Middle Name" data-ng-model="vm.user.primMiddleName"/>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': personalInfoForm.primLastName.$dirty && personalInfoForm.primLastName.$error.required }">
                                            <label>Last Name</label>
                                            <span ng-show="personalInfoForm.pLastName.$dirty && personalInfoForm.pLastName.$error.required" style="color:red" class="help-block">This field is required!</span>
                                            <input class="form-control" name="primLastName" placeholder="Last Name" data-ng-model="vm.user.primLastName" required/>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': personalInfoForm.pMobileNumber.$dirty && personalInfoForm.pMobileNumber.$error.required }">
                                            <label>Primary mobile number</label>
                                            <span ng-show="personalInfoForm.pMobileNumber.$dirty && personalInfoForm.pMobileNumber.$error.required" style="color:red" class="help-block">This field is required!</span>
									        <span ng-show="personalInfoForm.pMobileNumber.$error.pattern" style="color:red" class="help-block">Phone number is invalid..</span>
                                            <input class="form-control" name="pMobileNumber" placeholder="Primary mobile number" type="number" ng-pattern="vm.phoneNumber" required data-ng-model="vm.user.primaryM1"/>
                                        </div>
                                        
                                        <div class="form-group" ng-class="{ 'has-error': personalInfoForm.pAltMobileNumber.$error.phoneNumber }">
                                            <label>Alternate mobile number</label>
									        <span ng-show="personalInfoForm.pAltMobileNumber.$error.pattern" style="color:red" class="help-block">Phone number is invalid..</span>
                                            <input class="form-control" name="pAltMobileNumber" placeholder="Alternate mobile number" type="number" ng-pattern="vm.phoneNumber" data-ng-model="vm.user.secondaryM2"/>
                                        </div>
                                        
                                         
                                         <div class="form-group" ng-class="{ 'has-error': personalInfoForm.email.$dirty && personalInfoForm.email.$error.required }">
                                         	<label>Your Email</label>
                                         	<span ng-show="personalInfoForm.email.$dirty && personalInfoForm.email.$error.required" class="help-block" style="color:red">Email is required</span>
										 	<span ng-show="personalInfoForm.email.$error.pattern" style="color:red" class="help-block">Not valid email!</span>
										 	<div class="form-group input-group">
	                                            <span class="input-group-addon">@</span>
	                                            <input type="email" name="email" class="form-control" placeholder="Your Email" data-ng-model="vm.user.emailId" ng-pattern="vm.emailFormat" required ng-disabled="true"/> 
                                            </div>  
                                        </div>
                                        
<!--                                         <div class="form-group" ng-class="{ 'has-error': personalInfoForm.password.$dirty && personalInfoForm.password.$error.required }"> -->
<!--                                         	<label>Your Password</label> -->
<!--                                         	<span ng-show="personalInfoForm.password.$dirty && personalInfoForm.password.$error.required" class="help-block" style="color:red">Password is required</span> -->
<!--                                         	<span ng-show="personalInfoForm.password.$error.pattern" style="color:red" class="help-block">Weak Password!</span> -->
<!--                                         	<div class="form-group input-group"> -->
<!--                                             	<span class="input-group-addon"><i class="fa fa-lock"  ></i></span> -->
<!--                                             	<input type="password" name="password" class="form-control" placeholder="Your Password" data-ng-model="vm.user.password" ng-pattern="vm.passWordFormat" required/> -->
<!--                                             </div> -->
<!--                                        </div> -->
                                       
<!-- 	                                   <div class="form-group" ng-class="{ 'has-error': personalInfoForm.confPassword.$dirty && personalInfoForm.confPassword.$error.required }"> -->
<!--                                    			<label>Retype Password</label> -->
<!--                                    			<span ng-show="personalInfoForm.confPassword.$dirty && vm.user.confPassword!=vm.user.password" class="help-block" style="color:red">Confirm your password, Both password should match</span> -->
<!-- 	                                   		<div class="form-group input-group"> -->
<!-- 	                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span> -->
<!-- 	                                            <input type="password" name="confPassword" class="form-control" placeholder="Retype Password" data-ng-model="vm.user.confPassword" required/> -->
<!-- 	                                        </div> -->
<!-- 	                                   </div> -->
                                   
                                        
                                    <br />
    							</div> 
                                <div class="col-md-6">
                                
                                		<div class="form-group">
                                            <label>Flat number</label>
                                            <multiple-autocomplete ng-model="vm.user.usersFlats"
											     object-property="flatName"
											     api-url="{{vm.flatsApiPath}}"
											     suggestions-arr="">
											</multiple-autocomplete>
                                        </div>

                                         <div class="form-group">
                                            <label>Parking slot</label>
                                            <multiple-autocomplete ng-model="vm.user.usersParkings"
											     object-property="parkingSlot"
											     api-url="{{vm.parkingApiPath}}"
											     suggestions-arr="">
											</multiple-autocomplete>
                                        </div>

                                        <div class="form-group">
                                            <label>Is a board member ?</label><br>
                                            <toggle-switch ng-model="vm.user.isBoardMember" on-label="Yes" off-label="No" is-disabled="true" class="switch-success"></toggle-switch>
<!--                                             <input type="checkbox" ng-disabled="true" data-ng-model="vm.user.isBoardMember"/> -->
                                        </div>
                                        <div class="form-group">
                                            <label>Flat Rented ?</label><br>
                                            <toggle-switch ng-model="vm.user.isSecondaryOwner" on-label="Yes" off-label="No" ng-disabled="true"></toggle-switch>
<!--                                             <input type="checkbox" data-ng-model="vm.user.isSecondaryOwner"/> -->
                                        </div>
                                        <div class="form-group">
                                            <label>Tenanent's First Name</label>
                                            <input class="form-control" name="sFirstName" placeholder="First Name" data-ng-model="vm.user.secFirstName"/>
                                        </div>
                                         <div class="form-group">
                                            <label>Middle Name</label>
                                            <input class="form-control" placeholder="Middle Name" data-ng-model="vm.user.secMiddleName"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" placeholder="Last Name" data-ng-model="vm.user.secLastName"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Permanant / Correspondance Address</label>
                                            <textarea class="form-control" rows="3" maxlength="100" placeholder="Enter Address (Max 100 Characters only)" data-ng-model="vm.user.correspondanceAddress"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Alternate Email</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">@</span>
                                                <input type="text" class="form-control" placeholder="Alternate Email" data-ng-model="vm.user.alterEmailId">
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
           <!-- /. ROW  -->
           	<div>
                <button type="submit" ng-disabled="personalInfoForm.$invalid || vm.dataLoading" class="btn btn-success">
                  <span class="glyphicon glyphicon-floppy-disk"></span> Submit
                </button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
       </form>
        <!-- /. END OF FORM  -->
            

    </div>
             <!-- /. PAGE INNER  -->
